openapi: 3.2.0
info:
  title: 'NAIC Content JSON: Paragraph API'
  version: '1.1'
  summary: Anonymous read API over the NAIC's public regulatory content estate (content.naic.org), served as Drupal JSON:API.
  description: 'The National Association of Insurance Commissioners does not publish an OpenAPI description. It does, however, serve a live, anonymously readable JSON:API 1.1 surface at https://content.naic.org/jsonapi, generated by Drupal 11.


    This OpenAPI is **derived by API Evangelist from that live resource index**, not published by the NAIC. Every path below corresponds to a `links` entry in the index document fetched on 2026-07-25 (284 resource objects). Anonymous GET was verified against a sample of collections (node--article, node--page, node--committee_page, node--state_department_contact, taxonomy_term--model_laws, taxonomy_term--states, taxonomy_term--insurance_types, taxonomy_term--publications, media--document, node--newsletter), each returning HTTP 200 with `content-type: application/vnd.api+json`. Write operations are NOT described here: an anonymous `POST /jsonapi/node/article` returned HTTP 401 `No authentication credentials provided.`, and the NAIC publishes no credentialing path for the write surface.


    What this API exposes is the regulatory content itself: NAIC model laws and their MDL numbers, insurance topics, committees and task forces, publications, newsroom articles, CIPR research, and the state insurance department contact directory. It does NOT expose SERFF filings, the Financial Data Repository, SBS licensing records, or any of the Okta-gated regulator systems.'
  contact:
    name: NAIC Web Post
    email: webpost@naic.org
    url: https://content.naic.org/contact
  termsOfService: https://content.naic.org/application/terms-conditions
  license:
    name: All content (c) 1991-2025 National Association of Insurance Commissioners. All rights reserved.
    url: https://content.naic.org/application/terms-conditions
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://content.naic.org/jsonapi
  x-derived-on: '2026-07-25'
  x-publisher-provided: false
servers:
- url: https://content.naic.org/jsonapi
  description: Production JSON:API entry point (public, anonymous read).
security: []
tags:
- name: paragraph
  description: Paragraph entities — the composable page building blocks.
paths:
  /paragraph/2_column_image_with_wysiwyg:
    get:
      operationId: listParagraph2ColumnImageWithWysiwyg
      summary: List paragraph / 2_column_image_with_wysiwyg resources
      description: Returns a JSON:API collection document of `paragraph--2_column_image_with_wysiwyg` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/2_column_image_with_wysiwyg/{id}:
    get:
      operationId: getParagraph2ColumnImageWithWysiwyg
      summary: Get one paragraph / 2_column_image_with_wysiwyg resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--2_column_image_with_wysiwyg` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/accordion:
    get:
      operationId: listParagraphAccordion
      summary: List paragraph / accordion resources
      description: Returns a JSON:API collection document of `paragraph--accordion` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/accordion/{id}:
    get:
      operationId: getParagraphAccordion
      summary: Get one paragraph / accordion resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--accordion` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/accordion_item:
    get:
      operationId: listParagraphAccordionItem
      summary: List paragraph / accordion_item resources
      description: Returns a JSON:API collection document of `paragraph--accordion_item` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/accordion_item/{id}:
    get:
      operationId: getParagraphAccordionItem
      summary: Get one paragraph / accordion_item resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--accordion_item` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_accordion:
    get:
      operationId: listParagraphBpAccordion
      summary: List paragraph / bp_accordion resources
      description: Returns a JSON:API collection document of `paragraph--bp_accordion` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_accordion/{id}:
    get:
      operationId: getParagraphBpAccordion
      summary: Get one paragraph / bp_accordion resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_accordion` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_accordion_section:
    get:
      operationId: listParagraphBpAccordionSection
      summary: List paragraph / bp_accordion_section resources
      description: Returns a JSON:API collection document of `paragraph--bp_accordion_section` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_accordion_section/{id}:
    get:
      operationId: getParagraphBpAccordionSection
      summary: Get one paragraph / bp_accordion_section resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_accordion_section` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_blank:
    get:
      operationId: listParagraphBpBlank
      summary: List paragraph / bp_blank resources
      description: Returns a JSON:API collection document of `paragraph--bp_blank` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_blank/{id}:
    get:
      operationId: getParagraphBpBlank
      summary: Get one paragraph / bp_blank resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_blank` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_block:
    get:
      operationId: listParagraphBpBlock
      summary: List paragraph / bp_block resources
      description: Returns a JSON:API collection document of `paragraph--bp_block` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_block/{id}:
    get:
      operationId: getParagraphBpBlock
      summary: Get one paragraph / bp_block resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_block` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_callout:
    get:
      operationId: listParagraphBpCallout
      summary: List paragraph / bp_callout resources
      description: Returns a JSON:API collection document of `paragraph--bp_callout` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_callout/{id}:
    get:
      operationId: getParagraphBpCallout
      summary: Get one paragraph / bp_callout resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_callout` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_card:
    get:
      operationId: listParagraphBpCard
      summary: List paragraph / bp_card resources
      description: Returns a JSON:API collection document of `paragraph--bp_card` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_card/{id}:
    get:
      operationId: getParagraphBpCard
      summary: Get one paragraph / bp_card resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_card` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_carousel:
    get:
      operationId: listParagraphBpCarousel
      summary: List paragraph / bp_carousel resources
      description: Returns a JSON:API collection document of `paragraph--bp_carousel` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_carousel/{id}:
    get:
      operationId: getParagraphBpCarousel
      summary: Get one paragraph / bp_carousel resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_carousel` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_column_wrapper:
    get:
      operationId: listParagraphBpColumnWrapper
      summary: List paragraph / bp_column_wrapper resources
      description: Returns a JSON:API collection document of `paragraph--bp_column_wrapper` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_column_wrapper/{id}:
    get:
      operationId: getParagraphBpColumnWrapper
      summary: Get one paragraph / bp_column_wrapper resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_column_wrapper` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_columns:
    get:
      operationId: listParagraphBpColumns
      summary: List paragraph / bp_columns resources
      description: Returns a JSON:API collection document of `paragraph--bp_columns` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_columns/{id}:
    get:
      operationId: getParagraphBpColumns
      summary: Get one paragraph / bp_columns resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_columns` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_columns_three_uneven:
    get:
      operationId: listParagraphBpColumnsThreeUneven
      summary: List paragraph / bp_columns_three_uneven resources
      description: Returns a JSON:API collection document of `paragraph--bp_columns_three_uneven` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_columns_three_uneven/{id}:
    get:
      operationId: getParagraphBpColumnsThreeUneven
      summary: Get one paragraph / bp_columns_three_uneven resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_columns_three_uneven` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_columns_two_uneven:
    get:
      operationId: listParagraphBpColumnsTwoUneven
      summary: List paragraph / bp_columns_two_uneven resources
      description: Returns a JSON:API collection document of `paragraph--bp_columns_two_uneven` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_columns_two_uneven/{id}:
    get:
      operationId: getParagraphBpColumnsTwoUneven
      summary: Get one paragraph / bp_columns_two_uneven resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_columns_two_uneven` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_image:
    get:
      operationId: listParagraphBpImage
      summary: List paragraph / bp_image resources
      description: Returns a JSON:API collection document of `paragraph--bp_image` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_image/{id}:
    get:
      operationId: getParagraphBpImage
      summary: Get one paragraph / bp_image resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_image` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_modal:
    get:
      operationId: listParagraphBpModal
      summary: List paragraph / bp_modal resources
      description: Returns a JSON:API collection document of `paragraph--bp_modal` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_modal/{id}:
    get:
      operationId: getParagraphBpModal
      summary: Get one paragraph / bp_modal resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_modal` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_simple:
    get:
      operationId: listParagraphBpSimple
      summary: List paragraph / bp_simple resources
      description: Returns a JSON:API collection document of `paragraph--bp_simple` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_simple/{id}:
    get:
      operationId: getParagraphBpSimple
      summary: Get one paragraph / bp_simple resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_simple` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_stat:
    get:
      operationId: listParagraphBpStat
      summary: List paragraph / bp_stat resources
      description: Returns a JSON:API collection document of `paragraph--bp_stat` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_stat/{id}:
    get:
      operationId: getParagraphBpStat
      summary: Get one paragraph / bp_stat resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_stat` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_statistics:
    get:
      operationId: listParagraphBpStatistics
      summary: List paragraph / bp_statistics resources
      description: Returns a JSON:API collection document of `paragraph--bp_statistics` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_statistics/{id}:
    get:
      operationId: getParagraphBpStatistics
      summary: Get one paragraph / bp_statistics resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_statistics` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_tab_section:
    get:
      operationId: listParagraphBpTabSection
      summary: List paragraph / bp_tab_section resources
      description: Returns a JSON:API collection document of `paragraph--bp_tab_section` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_tab_section/{id}:
    get:
      operationId: getParagraphBpTabSection
      summary: Get one paragraph / bp_tab_section resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_tab_section` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_tabs:
    get:
      operationId: listParagraphBpTabs
      summary: List paragraph / bp_tabs resources
      description: Returns a JSON:API collection document of `paragraph--bp_tabs` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_tabs/{id}:
    get:
      operationId: getParagraphBpTabs
      summary: Get one paragraph / bp_tabs resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_tabs` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_view:
    get:
      operationId: listParagraphBpView
      summary: List paragraph / bp_view resources
      description: Returns a JSON:API collection document of `paragraph--bp_view` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/bp_view/{id}:
    get:
      operationId: getParagraphBpView
      summary: Get one paragraph / bp_view resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--bp_view` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/card_grid:
    get:
      operationId: listParagraphCardGrid
      summary: List paragraph / card_grid resources
      description: Returns a JSON:API collection document of `paragraph--card_grid` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/card_grid/{id}:
    get:
      operationId: getParagraphCardGrid
      summary: Get one paragraph / card_grid resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--card_grid` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/card_grid_cards:
    get:
      operationId: listParagraphCardGridCards
      summary: List paragraph / card_grid_cards resources
      description: Returns a JSON:API collection document of `paragraph--card_grid_cards` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/card_grid_cards/{id}:
    get:
      operationId: getParagraphCardGridCards
      summary: Get one paragraph / card_grid_cards resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--card_grid_cards` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/consumer_basic:
    get:
      operationId: listParagraphConsumerBasic
      summary: List paragraph / consumer_basic resources
      description: Returns a JSON:API collection document of `paragraph--consumer_basic` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/consumer_basic/{id}:
    get:
      operationId: getParagraphConsumerBasic
      summary: Get one paragraph / consumer_basic resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--consumer_basic` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/contact_image_slider:
    get:
      operationId: listParagraphContactImageSlider
      summary: List paragraph / contact_image_slider resources
      description: Returns a JSON:API collection document of `paragraph--contact_image_slider` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/contact_image_slider/{id}:
    get:
      operationId: getParagraphContactImageSlider
      summary: Get one paragraph / contact_image_slider resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--contact_image_slider` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/contact_list:
    get:
      operationId: listParagraphContactList
      summary: List paragraph / contact_list resources
      description: Returns a JSON:API collection document of `paragraph--contact_list` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/contact_list/{id}:
    get:
      operationId: getParagraphContactList
      summary: Get one paragraph / contact_list resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--contact_list` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/content_card:
    get:
      operationId: listParagraphContentCard
      summary: List paragraph / content_card resources
      description: Returns a JSON:API collection document of `paragraph--content_card` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/content_card/{id}:
    get:
      operationId: getParagraphContentCard
      summary: Get one paragraph / content_card resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--content_card` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/content_cards:
    get:
      operationId: listParagraphContentCards
      summary: List paragraph / content_cards resources
      description: Returns a JSON:API collection document of `paragraph--content_cards` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/content_cards/{id}:
    get:
      operationId: getParagraphContentCards
      summary: Get one paragraph / content_cards resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--content_cards` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/cta_with_background:
    get:
      operationId: listParagraphCtaWithBackground
      summary: List paragraph / cta_with_background resources
      description: Returns a JSON:API collection document of `paragraph--cta_with_background` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/cta_with_background/{id}:
    get:
      operationId: getParagraphCtaWithBackground
      summary: Get one paragraph / cta_with_background resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--cta_with_background` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/cta_with_dropdown:
    get:
      operationId: listParagraphCtaWithDropdown
      summary: List paragraph / cta_with_dropdown resources
      description: Returns a JSON:API collection document of `paragraph--cta_with_dropdown` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/cta_with_dropdown/{id}:
    get:
      operationId: getParagraphCtaWithDropdown
      summary: Get one paragraph / cta_with_dropdown resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--cta_with_dropdown` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/cta_with_image:
    get:
      operationId: listParagraphCtaWithImage
      summary: List paragraph / cta_with_image resources
      description: Returns a JSON:API collection document of `paragraph--cta_with_image` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/cta_with_image/{id}:
    get:
      operationId: getParagraphCtaWithImage
      summary: Get one paragraph / cta_with_image resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--cta_with_image` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/event_basic:
    get:
      operationId: listParagraphEventBasic
      summary: List paragraph / event_basic resources
      description: Returns a JSON:API collection document of `paragraph--event_basic` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/event_basic/{id}:
    get:
      operationId: getParagraphEventBasic
      summary: Get one paragraph / event_basic resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--event_basic` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/event_card_slider:
    get:
      operationId: listParagraphEventCardSlider
      summary: List paragraph / event_card_slider resources
      description: Returns a JSON:API collection document of `paragraph--event_card_slider` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/event_card_slider/{id}:
    get:
      operationId: getParagraphEventCardSlider
      summary: Get one paragraph / event_card_slider resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--event_card_slider` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/featured_article:
    get:
      operationId: listParagraphFeaturedArticle
      summary: List paragraph / featured_article resources
      description: Returns a JSON:API collection document of `paragraph--featured_article` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/featured_article/{id}:
    get:
      operationId: getParagraphFeaturedArticle
      summary: Get one paragraph / featured_article resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--featured_article` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/featured_image_custom_item:
    get:
      operationId: listParagraphFeaturedImageCustomItem
      summary: List paragraph / featured_image_custom_item resources
      description: Returns a JSON:API collection document of `paragraph--featured_image_custom_item` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/featured_image_custom_item/{id}:
    get:
      operationId: getParagraphFeaturedImageCustomItem
      summary: Get one paragraph / featured_image_custom_item resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--featured_image_custom_item` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/featured_image_slider:
    get:
      operationId: listParagraphFeaturedImageSlider
      summary: List paragraph / featured_image_slider resources
      description: Returns a JSON:API collection document of `paragraph--featured_image_slider` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/featured_image_slider/{id}:
    get:
      operationId: getParagraphFeaturedImageSlider
      summary: Get one paragraph / featured_image_slider resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--featured_image_slider` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/footer_link_list:
    get:
      operationId: listParagraphFooterLinkList
      summary: List paragraph / footer_link_list resources
      description: Returns a JSON:API collection document of `paragraph--footer_link_list` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/footer_link_list/{id}:
    get:
      operationId: getParagraphFooterLinkList
      summary: Get one paragraph / footer_link_list resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--footer_link_list` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/full_width_cta_skinny:
    get:
      operationId: listParagraphFullWidthCtaSkinny
      summary: List paragraph / full_width_cta_skinny resources
      description: Returns a JSON:API collection document of `paragraph--full_width_cta_skinny` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/full_width_cta_skinny/{id}:
    get:
      operationId: getParagraphFullWidthCtaSkinny
      summary: Get one paragraph / full_width_cta_skinny resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--full_width_cta_skinny` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/full_width_wysiwyg:
    get:
      operationId: listParagraphFullWidthWysiwyg
      summary: List paragraph / full_width_wysiwyg resources
      description: Returns a JSON:API collection document of `paragraph--full_width_wysiwyg` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/full_width_wysiwyg/{id}:
    get:
      operationId: getParagraphFullWidthWysiwyg
      summary: Get one paragraph / full_width_wysiwyg resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--full_width_wysiwyg` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/gallery_component:
    get:
      operationId: listParagraphGalleryComponent
      summary: List paragraph / gallery_component resources
      description: Returns a JSON:API collection document of `paragraph--gallery_component` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/gallery_component/{id}:
    get:
      operationId: getParagraphGalleryComponent
      summary: Get one paragraph / gallery_component resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--gallery_component` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/home_hero:
    get:
      operationId: listParagraphHomeHero
      summary: List paragraph / home_hero resources
      description: Returns a JSON:API collection document of `paragraph--home_hero` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/home_hero/{id}:
    get:
      operationId: getParagraphHomeHero
      summary: Get one paragraph / home_hero resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--home_hero` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/home_hero_slider:
    get:
      operationId: listParagraphHomeHeroSlider
      summary: List paragraph / home_hero_slider resources
      description: Returns a JSON:API collection document of `paragraph--home_hero_slider` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/home_hero_slider/{id}:
    get:
      operationId: getParagraphHomeHeroSlider
      summary: Get one paragraph / home_hero_slider resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--home_hero_slider` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/icon_card:
    get:
      operationId: listParagraphIconCard
      summary: List paragraph / icon_card resources
      description: Returns a JSON:API collection document of `paragraph--icon_card` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/icon_card/{id}:
    get:
      operationId: getParagraphIconCard
      summary: Get one paragraph / icon_card resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--icon_card` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/icon_card_slider:
    get:
      operationId: listParagraphIconCardSlider
      summary: List paragraph / icon_card_slider resources
      description: Returns a JSON:API collection document of `paragraph--icon_card_slider` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/icon_card_slider/{id}:
    get:
      operationId: getParagraphIconCardSlider
      summary: Get one paragraph / icon_card_slider resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--icon_card_slider` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/image_grid:
    get:
      operationId: listParagraphImageGrid
      summary: List paragraph / image_grid resources
      description: Returns a JSON:API collection document of `paragraph--image_grid` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/image_grid/{id}:
    get:
      operationId: getParagraphImageGrid
      summary: Get one paragraph / image_grid resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--image_grid` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/in_page_navigation:
    get:
      operationId: listParagraphInPageNavigation
      summary: List paragraph / in_page_navigation resources
      description: Returns a JSON:API collection document of `paragraph--in_page_navigation` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/in_page_navigation/{id}:
    get:
      operationId: getParagraphInPageNavigation
      summary: Get one paragraph / in_page_navigation resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--in_page_navigation` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/link_card_slider:
    get:
      operationId: listParagraphLinkCardSlider
      summary: List paragraph / link_card_slider resources
      description: Returns a JSON:API collection document of `paragraph--link_card_slider` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/link_card_slider/{id}:
    get:
      operationId: getParagraphLinkCardSlider
      summary: Get one paragraph / link_card_slider resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--link_card_slider` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/link_card_slider_paragraph:
    get:
      operationId: listParagraphLinkCardSliderParagraph
      summary: List paragraph / link_card_slider_paragraph resources
      description: Returns a JSON:API collection document of `paragraph--link_card_slider_paragraph` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /paragraph/link_card_slider_paragraph/{id}:
    get:
      operationId: getParagraphLinkCardSliderParagraph
      summary: Get one paragraph / link_card_slider_paragraph resource by UUID
      description: Returns a JSON:API individual document for a single `paragraph--link_card_slider_paragraph` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - paragraph
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
[...]
