openapi: 3.2.0
info:
  title: 'NAIC Content JSON: Taxonomy Term API'
  version: '1.1'
  summary: Anonymous read API over the NAIC's public regulatory content estate (content.naic.org), served as Drupal JSON:API.
  description: 'The National Association of Insurance Commissioners does not publish an OpenAPI description. It does, however, serve a live, anonymously readable JSON:API 1.1 surface at https://content.naic.org/jsonapi, generated by Drupal 11.


    This OpenAPI is **derived by API Evangelist from that live resource index**, not published by the NAIC. Every path below corresponds to a `links` entry in the index document fetched on 2026-07-25 (284 resource objects). Anonymous GET was verified against a sample of collections (node--article, node--page, node--committee_page, node--state_department_contact, taxonomy_term--model_laws, taxonomy_term--states, taxonomy_term--insurance_types, taxonomy_term--publications, media--document, node--newsletter), each returning HTTP 200 with `content-type: application/vnd.api+json`. Write operations are NOT described here: an anonymous `POST /jsonapi/node/article` returned HTTP 401 `No authentication credentials provided.`, and the NAIC publishes no credentialing path for the write surface.


    What this API exposes is the regulatory content itself: NAIC model laws and their MDL numbers, insurance topics, committees and task forces, publications, newsroom articles, CIPR research, and the state insurance department contact directory. It does NOT expose SERFF filings, the Financial Data Repository, SBS licensing records, or any of the Okta-gated regulator systems.'
  contact:
    name: NAIC Web Post
    email: webpost@naic.org
    url: https://content.naic.org/contact
  termsOfService: https://content.naic.org/application/terms-conditions
  license:
    name: All content (c) 1991-2025 National Association of Insurance Commissioners. All rights reserved.
    url: https://content.naic.org/application/terms-conditions
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://content.naic.org/jsonapi
  x-derived-on: '2026-07-25'
  x-publisher-provided: false
servers:
- url: https://content.naic.org/jsonapi
  description: Production JSON:API entry point (public, anonymous read).
security: []
tags:
- name: taxonomy_term
  description: Controlled vocabularies — model laws, insurance types, states, committees, publications, research topics and the rest of the NAIC's classification terms.
paths:
  /taxonomy_term/articles:
    get:
      operationId: listTaxonomyTermArticles
      summary: List taxonomy_term / articles resources
      description: Returns a JSON:API collection document of `taxonomy_term--articles` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/articles/{id}:
    get:
      operationId: getTaxonomyTermArticles
      summary: Get one taxonomy_term / articles resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--articles` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/capital_market_topics:
    get:
      operationId: listTaxonomyTermCapitalMarketTopics
      summary: List taxonomy_term / capital_market_topics resources
      description: Returns a JSON:API collection document of `taxonomy_term--capital_market_topics` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/capital_market_topics/{id}:
    get:
      operationId: getTaxonomyTermCapitalMarketTopics
      summary: Get one taxonomy_term / capital_market_topics resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--capital_market_topics` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/capital_market_types:
    get:
      operationId: listTaxonomyTermCapitalMarketTypes
      summary: List taxonomy_term / capital_market_types resources
      description: Returns a JSON:API collection document of `taxonomy_term--capital_market_types` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/capital_market_types/{id}:
    get:
      operationId: getTaxonomyTermCapitalMarketTypes
      summary: Get one taxonomy_term / capital_market_types resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--capital_market_types` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/categories:
    get:
      operationId: listTaxonomyTermCategories
      summary: List taxonomy_term / categories resources
      description: Returns a JSON:API collection document of `taxonomy_term--categories` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/categories/{id}:
    get:
      operationId: getTaxonomyTermCategories
      summary: Get one taxonomy_term / categories resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--categories` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/center_of_excellence_types:
    get:
      operationId: listTaxonomyTermCenterOfExcellenceTypes
      summary: List taxonomy_term / center_of_excellence_types resources
      description: Returns a JSON:API collection document of `taxonomy_term--center_of_excellence_types` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/center_of_excellence_types/{id}:
    get:
      operationId: getTaxonomyTermCenterOfExcellenceTypes
      summary: Get one taxonomy_term / center_of_excellence_types resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--center_of_excellence_types` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/cipr_news:
    get:
      operationId: listTaxonomyTermCiprNews
      summary: List taxonomy_term / cipr_news resources
      description: Returns a JSON:API collection document of `taxonomy_term--cipr_news` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/cipr_news/{id}:
    get:
      operationId: getTaxonomyTermCiprNews
      summary: Get one taxonomy_term / cipr_news resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--cipr_news` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/cipr_tags:
    get:
      operationId: listTaxonomyTermCiprTags
      summary: List taxonomy_term / cipr_tags resources
      description: Returns a JSON:API collection document of `taxonomy_term--cipr_tags` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/cipr_tags/{id}:
    get:
      operationId: getTaxonomyTermCiprTags
      summary: Get one taxonomy_term / cipr_tags resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--cipr_tags` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/committees:
    get:
      operationId: listTaxonomyTermCommittees
      summary: List taxonomy_term / committees resources
      description: Returns a JSON:API collection document of `taxonomy_term--committees` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/committees/{id}:
    get:
      operationId: getTaxonomyTermCommittees
      summary: Get one taxonomy_term / committees resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--committees` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/communications:
    get:
      operationId: listTaxonomyTermCommunications
      summary: List taxonomy_term / communications resources
      description: Returns a JSON:API collection document of `taxonomy_term--communications` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/communications/{id}:
    get:
      operationId: getTaxonomyTermCommunications
      summary: Get one taxonomy_term / communications resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--communications` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/demographics:
    get:
      operationId: listTaxonomyTermDemographics
      summary: List taxonomy_term / demographics resources
      description: Returns a JSON:API collection document of `taxonomy_term--demographics` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/demographics/{id}:
    get:
      operationId: getTaxonomyTermDemographics
      summary: Get one taxonomy_term / demographics resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--demographics` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/department:
    get:
      operationId: listTaxonomyTermDepartment
      summary: List taxonomy_term / department resources
      description: Returns a JSON:API collection document of `taxonomy_term--department` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/department/{id}:
    get:
      operationId: getTaxonomyTermDepartment
      summary: Get one taxonomy_term / department resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--department` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/documents:
    get:
      operationId: listTaxonomyTermDocuments
      summary: List taxonomy_term / documents resources
      description: Returns a JSON:API collection document of `taxonomy_term--documents` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/documents/{id}:
    get:
      operationId: getTaxonomyTermDocuments
      summary: Get one taxonomy_term / documents resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--documents` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/event_promotion_level:
    get:
      operationId: listTaxonomyTermEventPromotionLevel
      summary: List taxonomy_term / event_promotion_level resources
      description: Returns a JSON:API collection document of `taxonomy_term--event_promotion_level` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/event_promotion_level/{id}:
    get:
      operationId: getTaxonomyTermEventPromotionLevel
      summary: Get one taxonomy_term / event_promotion_level resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--event_promotion_level` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/event_promotion_type:
    get:
      operationId: listTaxonomyTermEventPromotionType
      summary: List taxonomy_term / event_promotion_type resources
      description: Returns a JSON:API collection document of `taxonomy_term--event_promotion_type` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/event_promotion_type/{id}:
    get:
      operationId: getTaxonomyTermEventPromotionType
      summary: Get one taxonomy_term / event_promotion_type resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--event_promotion_type` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/external_resource_type:
    get:
      operationId: listTaxonomyTermExternalResourceType
      summary: List taxonomy_term / external_resource_type resources
      description: Returns a JSON:API collection document of `taxonomy_term--external_resource_type` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/external_resource_type/{id}:
    get:
      operationId: getTaxonomyTermExternalResourceType
      summary: Get one taxonomy_term / external_resource_type resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--external_resource_type` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/government_affairs_topics:
    get:
      operationId: listTaxonomyTermGovernmentAffairsTopics
      summary: List taxonomy_term / government_affairs_topics resources
      description: Returns a JSON:API collection document of `taxonomy_term--government_affairs_topics` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/government_affairs_topics/{id}:
    get:
      operationId: getTaxonomyTermGovernmentAffairsTopics
      summary: Get one taxonomy_term / government_affairs_topics resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--government_affairs_topics` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/government_affairs_types:
    get:
      operationId: listTaxonomyTermGovernmentAffairsTypes
      summary: List taxonomy_term / government_affairs_types resources
      description: Returns a JSON:API collection document of `taxonomy_term--government_affairs_types` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/government_affairs_types/{id}:
    get:
      operationId: getTaxonomyTermGovernmentAffairsTypes
      summary: Get one taxonomy_term / government_affairs_types resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--government_affairs_types` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/healthcare_reform_types:
    get:
      operationId: listTaxonomyTermHealthcareReformTypes
      summary: List taxonomy_term / healthcare_reform_types resources
      description: Returns a JSON:API collection document of `taxonomy_term--healthcare_reform_types` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/healthcare_reform_types/{id}:
    get:
      operationId: getTaxonomyTermHealthcareReformTypes
      summary: Get one taxonomy_term / healthcare_reform_types resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--healthcare_reform_types` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/insurance_types:
    get:
      operationId: listTaxonomyTermInsuranceTypes
      summary: List taxonomy_term / insurance_types resources
      description: Returns a JSON:API collection document of `taxonomy_term--insurance_types` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/insurance_types/{id}:
    get:
      operationId: getTaxonomyTermInsuranceTypes
      summary: Get one taxonomy_term / insurance_types resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--insurance_types` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/link_card_slider_category:
    get:
      operationId: listTaxonomyTermLinkCardSliderCategory
      summary: List taxonomy_term / link_card_slider_category resources
      description: Returns a JSON:API collection document of `taxonomy_term--link_card_slider_category` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/link_card_slider_category/{id}:
    get:
      operationId: getTaxonomyTermLinkCardSliderCategory
      summary: Get one taxonomy_term / link_card_slider_category resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--link_card_slider_category` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/media_module:
    get:
      operationId: listTaxonomyTermMediaModule
      summary: List taxonomy_term / media_module resources
      description: Returns a JSON:API collection document of `taxonomy_term--media_module` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/media_module/{id}:
    get:
      operationId: getTaxonomyTermMediaModule
      summary: Get one taxonomy_term / media_module resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--media_module` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/model_law_categories:
    get:
      operationId: listTaxonomyTermModelLawCategories
      summary: List taxonomy_term / model_law_categories resources
      description: Returns a JSON:API collection document of `taxonomy_term--model_law_categories` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/model_law_categories/{id}:
    get:
      operationId: getTaxonomyTermModelLawCategories
      summary: Get one taxonomy_term / model_law_categories resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--model_law_categories` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/model_laws:
    get:
      operationId: listTaxonomyTermModelLaws
      summary: List taxonomy_term / model_laws resources
      description: Returns a JSON:API collection document of `taxonomy_term--model_laws` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
              examples:
                live:
                  summary: Live response captured from https://content.naic.org/jsonapi/taxonomy_term/model_laws on 2026-07-25
                  value:
                    jsonapi:
                      version: '1.1'
                      meta:
                        links:
                          self:
                            href: https://jsonapi.org/format/1.1/
                    data:
                    - type: taxonomy_term--model_laws
                      id: 46f6505d-0014-46ce-95b8-5ba89e7f96f6
                      links:
                        self:
                          href: https://content.naic.org/jsonapi/taxonomy_term/model_laws/46f6505d-0014-46ce-95b8-5ba89e7f96f6?resourceVersion=id%3A717
                        working-copy:
                          href: https://content.naic.org/jsonapi/taxonomy_term/model_laws/46f6505d-0014-46ce-95b8-5ba89e7f96f6?resourceVersion=rel%3Aworking-copy
                      attributes:
                        name: Health Insurance Reserves Model Regulation
                        description: null
                        changed: '2022-12-05T22:53:08+00:00'
                        field_ml_model_number: MDL-10
                    links:
                      next:
                        href: https://content.naic.org/jsonapi/taxonomy_term/model_laws?page%5Boffset%5D=1&page%5Blimit%5D=1&fields%5Btaxonomy_term--model_laws%5D=name%2Cfield_ml_model_number%2Cdescription%2Cchanged
                      self:
                        href: https://content.naic.org/jsonapi/taxonomy_term/model_laws?fields%5Btaxonomy_term--model_laws%5D=name%2Cfield_ml_model_number%2Cdescription%2Cchanged&page%5Blimit%5D=1
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/model_laws/{id}:
    get:
      operationId: getTaxonomyTermModelLaws
      summary: Get one taxonomy_term / model_laws resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--model_laws` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/months:
    get:
      operationId: listTaxonomyTermMonths
      summary: List taxonomy_term / months resources
      description: Returns a JSON:API collection document of `taxonomy_term--months` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/months/{id}:
    get:
      operationId: getTaxonomyTermMonths
      summary: Get one taxonomy_term / months resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--months` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/naic:
    get:
      operationId: listTaxonomyTermNaic
      summary: List taxonomy_term / naic resources
      description: Returns a JSON:API collection document of `taxonomy_term--naic` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/naic/{id}:
    get:
      operationId: getTaxonomyTermNaic
      summary: Get one taxonomy_term / naic resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--naic` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/naic_archive_documents:
    get:
      operationId: listTaxonomyTermNaicArchiveDocuments
      summary: List taxonomy_term / naic_archive_documents resources
      description: Returns a JSON:API collection document of `taxonomy_term--naic_archive_documents` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/naic_archive_documents/{id}:
    get:
      operationId: getTaxonomyTermNaicArchiveDocuments
      summary: Get one taxonomy_term / naic_archive_documents resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--naic_archive_documents` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/naic_custom_layout:
    get:
      operationId: listTaxonomyTermNaicCustomLayout
      summary: List taxonomy_term / naic_custom_layout resources
      description: Returns a JSON:API collection document of `taxonomy_term--naic_custom_layout` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/naic_custom_layout/{id}:
    get:
      operationId: getTaxonomyTermNaicCustomLayout
      summary: Get one taxonomy_term / naic_custom_layout resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--naic_custom_layout` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/naic_events:
    get:
      operationId: listTaxonomyTermNaicEvents
      summary: List taxonomy_term / naic_events resources
      description: Returns a JSON:API collection document of `taxonomy_term--naic_events` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/naic_events/{id}:
    get:
      operationId: getTaxonomyTermNaicEvents
      summary: Get one taxonomy_term / naic_events resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--naic_events` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/news_topics:
    get:
      operationId: listTaxonomyTermNewsTopics
      summary: List taxonomy_term / news_topics resources
      description: Returns a JSON:API collection document of `taxonomy_term--news_topics` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/news_topics/{id}:
    get:
      operationId: getTaxonomyTermNewsTopics
      summary: Get one taxonomy_term / news_topics resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--news_topics` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/nm_regulator_criteria:
    get:
      operationId: listTaxonomyTermNmRegulatorCriteria
      summary: List taxonomy_term / nm_regulator_criteria resources
      description: Returns a JSON:API collection document of `taxonomy_term--nm_regulator_criteria` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/nm_regulator_criteria/{id}:
    get:
      operationId: getTaxonomyTermNmRegulatorCriteria
      summary: Get one taxonomy_term / nm_regulator_criteria resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--nm_regulator_criteria` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/optins_tax_types:
    get:
      operationId: listTaxonomyTermOptinsTaxTypes
      summary: List taxonomy_term / optins_tax_types resources
      description: Returns a JSON:API collection document of `taxonomy_term--optins_tax_types` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/optins_tax_types/{id}:
    get:
      operationId: getTaxonomyTermOptinsTaxTypes
      summary: Get one taxonomy_term / optins_tax_types resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--optins_tax_types` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/pandemic_action_type:
    get:
      operationId: listTaxonomyTermPandemicActionType
      summary: List taxonomy_term / pandemic_action_type resources
      description: Returns a JSON:API collection document of `taxonomy_term--pandemic_action_type` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/pandemic_action_type/{id}:
    get:
      operationId: getTaxonomyTermPandemicActionType
      summary: Get one taxonomy_term / pandemic_action_type resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--pandemic_action_type` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/pandemic_insurance_subcategory:
    get:
      operationId: listTaxonomyTermPandemicInsuranceSubcategory
      summary: List taxonomy_term / pandemic_insurance_subcategory resources
      description: Returns a JSON:API collection document of `taxonomy_term--pandemic_insurance_subcategory` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/pandemic_insurance_subcategory/{id}:
    get:
      operationId: getTaxonomyTermPandemicInsuranceSubcategory
      summary: Get one taxonomy_term / pandemic_insurance_subcategory resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--pandemic_insurance_subcategory` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/pandemic_insurance_type:
    get:
      operationId: listTaxonomyTermPandemicInsuranceType
      summary: List taxonomy_term / pandemic_insurance_type resources
      description: Returns a JSON:API collection document of `taxonomy_term--pandemic_insurance_type` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/pandemic_insurance_type/{id}:
    get:
      operationId: getTaxonomyTermPandemicInsuranceType
      summary: Get one taxonomy_term / pandemic_insurance_type resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--pandemic_insurance_type` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/publication_categories:
    get:
      operationId: listTaxonomyTermPublicationCategories
      summary: List taxonomy_term / publication_categories resources
      description: Returns a JSON:API collection document of `taxonomy_term--publication_categories` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/publication_categories/{id}:
    get:
      operationId: getTaxonomyTermPublicationCategories
      summary: Get one taxonomy_term / publication_categories resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--publication_categories` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/publications:
    get:
      operationId: listTaxonomyTermPublications
      summary: List taxonomy_term / publications resources
      description: Returns a JSON:API collection document of `taxonomy_term--publications` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/publications/{id}:
    get:
      operationId: getTaxonomyTermPublications
      summary: Get one taxonomy_term / publications resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--publications` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/regulator_to_regulator_criteria:
    get:
      operationId: listTaxonomyTermRegulatorToRegulatorCriteria
      summary: List taxonomy_term / regulator_to_regulator_criteria resources
      description: Returns a JSON:API collection document of `taxonomy_term--regulator_to_regulator_criteria` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/regulator_to_regulator_criteria/{id}:
    get:
      operationId: getTaxonomyTermRegulatorToRegulatorCriteria
      summary: Get one taxonomy_term / regulator_to_regulator_criteria resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--regulator_to_regulator_criteria` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/research_categories:
    get:
      operationId: listTaxonomyTermResearchCategories
      summary: List taxonomy_term / research_categories resources
      description: Returns a JSON:API collection document of `taxonomy_term--research_categories` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/research_categories/{id}:
    get:
      operationId: getTaxonomyTermResearchCategories
      summary: Get one taxonomy_term / research_categories resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--research_categories` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/research_topics:
    get:
      operationId: listTaxonomyTermResearchTopics
      summary: List taxonomy_term / research_topics resources
      description: Returns a JSON:API collection document of `taxonomy_term--research_topics` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/research_topics/{id}:
    get:
      operationId: getTaxonomyTermResearchTopics
      summary: Get one taxonomy_term / research_topics resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--research_topics` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/research_types:
    get:
      operationId: listTaxonomyTermResearchTypes
      summary: List taxonomy_term / research_types resources
      description: Returns a JSON:API collection document of `taxonomy_term--research_types` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/research_types/{id}:
    get:
      operationId: getTaxonomyTermResearchTypes
      summary: Get one taxonomy_term / research_types resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--research_types` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/resource_center_archive_types:
    get:
      operationId: listTaxonomyTermResourceCenterArchiveTypes
      summary: List taxonomy_term / resource_center_archive_types resources
      description: Returns a JSON:API collection document of `taxonomy_term--resource_center_archive_types` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/resource_center_archive_types/{id}:
    get:
      operationId: getTaxonomyTermResourceCenterArchiveTypes
      summary: Get one taxonomy_term / resource_center_archive_types resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--resource_center_archive_types` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/resource_center_types_new_:
    get:
      operationId: listTaxonomyTermResourceCenterTypesNew
      summary: List taxonomy_term / resource_center_types_new_ resources
      description: Returns a JSON:API collection document of `taxonomy_term--resource_center_types_new_` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/resource_center_types_new_/{id}:
    get:
      operationId: getTaxonomyTermResourceCenterTypesNew
      summary: Get one taxonomy_term / resource_center_types_new_ resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--resource_center_types_new_` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/resource_types_new_:
    get:
      operationId: listTaxonomyTermResourceTypesNew
      summary: List taxonomy_term / resource_types_new_ resources
      description: Returns a JSON:API collection document of `taxonomy_term--resource_types_new_` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/resource_types_new_/{id}:
    get:
      operationId: getTaxonomyTermResourceTypesNew
      summary: Get one taxonomy_term / resource_types_new_ resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--resource_types_new_` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/search_terms:
    get:
      operationId: listTaxonomyTermSearchTerms
      summary: List taxonomy_term / search_terms resources
      description: Returns a JSON:API collection document of `taxonomy_term--search_terms` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/search_terms/{id}:
    get:
      operationId: getTaxonomyTermSearchTerms
      summary: Get one taxonomy_term / search_terms resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--search_terms` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/seasons:
    get:
      operationId: listTaxonomyTermSeasons
      summary: List taxonomy_term / seasons resources
      description: Returns a JSON:API collection document of `taxonomy_term--seasons` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/seasons/{id}:
    get:
      operationId: getTaxonomyTermSeasons
      summary: Get one taxonomy_term / seasons resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--seasons` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/sections:
    get:
      operationId: listTaxonomyTermSections
      summary: List taxonomy_term / sections resources
      description: Returns a JSON:API collection document of `taxonomy_term--sections` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/sections/{id}:
    get:
      operationId: getTaxonomyTermSections
      summary: Get one taxonomy_term / sections resource by UUID
      description: Returns a JSON:API individual document for a single `taxonomy_term--sections` resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/state_department_category:
    get:
      operationId: listTaxonomyTermStateDepartmentCategory
      summary: List taxonomy_term / state_department_category resources
      description: Returns a JSON:API collection document of `taxonomy_term--state_department_category` resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - taxonomy_term
      parameters:
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /taxonomy_term/state_department_category/{id}:
    get:
      operationId: getTaxonomyTermStateDepartmentCategory
[...]
