openapi: 3.1.0
info:
  title: NAIC Content JSON:API
  version: '1.1'
  summary: Anonymous read API over the NAIC's public regulatory content estate (content.naic.org), served as Drupal
    JSON:API.
  description: 'The National Association of Insurance Commissioners does not publish an OpenAPI description. It
    does, however, serve a live, anonymously readable JSON:API 1.1 surface at https://content.naic.org/jsonapi,
    generated by Drupal 11.


    This OpenAPI is **derived by API Evangelist from that live resource index**, not published by the NAIC. Every
    path below corresponds to a `links` entry in the index document fetched on 2026-07-25 (284 resource objects).
    Anonymous GET was verified against a sample of collections (node--article, node--page, node--committee_page,
    node--state_department_contact, taxonomy_term--model_laws, taxonomy_term--states, taxonomy_term--insurance_types,
    taxonomy_term--publications, media--document, node--newsletter), each returning HTTP 200 with `content-type:
    application/vnd.api+json`. Write operations are NOT described here: an anonymous `POST /jsonapi/node/article`
    returned HTTP 401 `No authentication credentials provided.`, and the NAIC publishes no credentialing path for
    the write surface.


    What this API exposes is the regulatory content itself: NAIC model laws and their MDL numbers, insurance topics,
    committees and task forces, publications, newsroom articles, CIPR research, and the state insurance department
    contact directory. It does NOT expose SERFF filings, the Financial Data Repository, SBS licensing records, or
    any of the Okta-gated regulator systems.'
  contact:
    name: NAIC Web Post
    email: webpost@naic.org
    url: https://content.naic.org/contact
  termsOfService: https://content.naic.org/application/terms-conditions
  license:
    name: All content (c) 1991-2025 National Association of Insurance Commissioners. All rights reserved.
    url: https://content.naic.org/application/terms-conditions
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://content.naic.org/jsonapi
  x-derived-on: '2026-07-25'
  x-publisher-provided: false
externalDocs:
  description: JSON:API v1.1 specification
  url: https://jsonapi.org/format/1.1/
servers:
- url: https://content.naic.org/jsonapi
  description: Production JSON:API entry point (public, anonymous read).
security: []
x-security-note: The read surface described here requires no credentials — an empty root `security` array is the
  accurate statement, verified by anonymous HTTP 200 responses. The write surface returns HTTP 401 'No authentication
  credentials provided.' and the NAIC documents no public credentialing path for it, so no securityScheme is asserted
  here.
tags:
- name: action
  description: action entity resources exposed by the NAIC JSON:API.
- name: base_field_override
  description: base_field_override entity resources exposed by the NAIC JSON:API.
- name: block
  description: block entity resources exposed by the NAIC JSON:API.
- name: block_content
  description: Reusable content blocks used to compose NAIC pages.
- name: block_content_type
  description: block_content_type entity resources exposed by the NAIC JSON:API.
- name: classy_paragraphs_style
  description: classy_paragraphs_style entity resources exposed by the NAIC JSON:API.
- name: comment
  description: Comment entities.
- name: comment_type
  description: comment_type entity resources exposed by the NAIC JSON:API.
- name: config_pages
  description: Site-wide configuration content, including the sitewide alert.
- name: config_pages_type
  description: config_pages_type entity resources exposed by the NAIC JSON:API.
- name: configurable_language
  description: configurable_language entity resources exposed by the NAIC JSON:API.
- name: crop
  description: crop entity resources exposed by the NAIC JSON:API.
- name: crop_type
  description: crop_type entity resources exposed by the NAIC JSON:API.
- name: date_format
  description: date_format entity resources exposed by the NAIC JSON:API.
- name: discovery
  description: The JSON:API entry point.
- name: editor
  description: editor entity resources exposed by the NAIC JSON:API.
- name: embed_button
  description: embed_button entity resources exposed by the NAIC JSON:API.
- name: entity_browser
  description: entity_browser entity resources exposed by the NAIC JSON:API.
- name: entity_extra_field
  description: entity_extra_field entity resources exposed by the NAIC JSON:API.
- name: entity_form_display
  description: entity_form_display entity resources exposed by the NAIC JSON:API.
- name: entity_form_mode
  description: entity_form_mode entity resources exposed by the NAIC JSON:API.
- name: entity_view_display
  description: entity_view_display entity resources exposed by the NAIC JSON:API.
- name: entity_view_mode
  description: entity_view_mode entity resources exposed by the NAIC JSON:API.
- name: event_entity
  description: Event entities.
- name: feeds_feed
  description: Feeds importer configuration for state contacts, departments and meeting calendars.
- name: feeds_feed_type
  description: feeds_feed_type entity resources exposed by the NAIC JSON:API.
- name: feeds_subscription
  description: feeds_subscription entity resources exposed by the NAIC JSON:API.
- name: field_config
  description: field_config entity resources exposed by the NAIC JSON:API.
- name: field_storage_config
  description: field_storage_config entity resources exposed by the NAIC JSON:API.
- name: file
  description: Uploaded file entities backing the media entities.
- name: filter_format
  description: filter_format entity resources exposed by the NAIC JSON:API.
- name: image_style
  description: image_style entity resources exposed by the NAIC JSON:API.
- name: imce_profile
  description: imce_profile entity resources exposed by the NAIC JSON:API.
- name: language_content_settings
  description: language_content_settings entity resources exposed by the NAIC JSON:API.
- name: layout_builder_browser_block
  description: layout_builder_browser_block entity resources exposed by the NAIC JSON:API.
- name: layout_builder_browser_blockcat
  description: layout_builder_browser_blockcat entity resources exposed by the NAIC JSON:API.
- name: linkit_profile
  description: linkit_profile entity resources exposed by the NAIC JSON:API.
- name: media
  description: Media entities — documents (PDF publications, reports), images, video and audio.
- name: media_type
  description: media_type entity resources exposed by the NAIC JSON:API.
- name: menu
  description: menu entity resources exposed by the NAIC JSON:API.
- name: menu_link_content
  description: Site navigation menu links.
- name: metatag_defaults
  description: metatag_defaults entity resources exposed by the NAIC JSON:API.
- name: node
  description: Drupal content nodes — the NAIC's articles, committee pages, publications pages, state insurance
    department contacts, newsletters, calendars and generic pages.
- name: node_type
  description: node_type entity resources exposed by the NAIC JSON:API.
- name: paragraph
  description: Paragraph entities — the composable page building blocks.
- name: paragraphs_type
  description: paragraphs_type entity resources exposed by the NAIC JSON:API.
- name: path_alias
  description: path_alias entity resources exposed by the NAIC JSON:API.
- name: pathauto_pattern
  description: pathauto_pattern entity resources exposed by the NAIC JSON:API.
- name: print_engine
  description: print_engine entity resources exposed by the NAIC JSON:API.
- name: rdf_mapping
  description: rdf_mapping entity resources exposed by the NAIC JSON:API.
- name: redirect
  description: redirect entity resources exposed by the NAIC JSON:API.
- name: rest_resource_config
  description: rest_resource_config entity resources exposed by the NAIC JSON:API.
- name: search_api_index
  description: search_api_index entity resources exposed by the NAIC JSON:API.
- name: search_api_server
  description: search_api_server entity resources exposed by the NAIC JSON:API.
- name: search_api_task
  description: search_api_task entity resources exposed by the NAIC JSON:API.
- name: settings
  description: settings entity resources exposed by the NAIC JSON:API.
- name: shortcut
  description: shortcut entity resources exposed by the NAIC JSON:API.
- name: shortcut_set
  description: shortcut_set entity resources exposed by the NAIC JSON:API.
- name: simple_sitemap
  description: simple_sitemap entity resources exposed by the NAIC JSON:API.
- name: simple_sitemap_engine
  description: simple_sitemap_engine entity resources exposed by the NAIC JSON:API.
- name: simple_sitemap_type
  description: simple_sitemap_type entity resources exposed by the NAIC JSON:API.
- name: slick
  description: slick entity resources exposed by the NAIC JSON:API.
- name: taxonomy_term
  description: Controlled vocabularies — model laws, insurance types, states, committees, publications, research
    topics and the rest of the NAIC's classification terms.
- name: taxonomy_vocabulary
  description: taxonomy_vocabulary entity resources exposed by the NAIC JSON:API.
- name: toolbar_menu_element
  description: toolbar_menu_element entity resources exposed by the NAIC JSON:API.
- name: user
  description: User entities (public fields only for anonymous callers).
- name: user_role
  description: user_role entity resources exposed by the NAIC JSON:API.
- name: view
  description: view entity resources exposed by the NAIC JSON:API.
- name: webform
  description: webform entity resources exposed by the NAIC JSON:API.
- name: webform_options
  description: webform_options entity resources exposed by the NAIC JSON:API.
- name: webform_submission
  description: webform_submission entity resources exposed by the NAIC JSON:API.
- name: workflow
  description: workflow entity resources exposed by the NAIC JSON:API.
paths:
  /:
    get:
      operationId: getResourceIndex
      summary: Get the JSON:API resource index
      description: 'Returns the JSON:API entry point: a document whose `links` member lists every exposed resource
        type and its collection URL (284 resource objects observed on 2026-07-25). This index is the machine-readable
        contract NAIC actually publishes; this OpenAPI is derived from it.'
      tags:
      - discovery
      responses:
        '200':
          description: The JSON:API resource index.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ResourceIndex'
  /action/action:
    get:
      operationId: listAction
      summary: List action resources
      description: Returns a JSON:API collection document of `action--action` resource objects. Supports JSON:API
        sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously
        readable on 2026-07-25.
      tags:
      - action
      parameters: &id001
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /action/action/{id}:
    get:
      operationId: getAction
      summary: Get one action resource by UUID
      description: Returns a JSON:API individual document for a single `action--action` resource, addressed by its
        Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - action
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /base_field_override/base_field_override:
    get:
      operationId: listBaseFieldOverride
      summary: List base_field_override resources
      description: Returns a JSON:API collection document of `base_field_override--base_field_override` resource
        objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - base_field_override
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /base_field_override/base_field_override/{id}:
    get:
      operationId: getBaseFieldOverride
      summary: Get one base_field_override resource by UUID
      description: Returns a JSON:API individual document for a single `base_field_override--base_field_override`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - base_field_override
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /block/block:
    get:
      operationId: listBlock
      summary: List block resources
      description: Returns a JSON:API collection document of `block--block` resource objects. Supports JSON:API
        sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously
        readable on 2026-07-25.
      tags:
      - block
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /block/block/{id}:
    get:
      operationId: getBlock
      summary: Get one block resource by UUID
      description: Returns a JSON:API individual document for a single `block--block` resource, addressed by its
        Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - block
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/basic:
    get:
      operationId: listBlockContentBasic
      summary: List block_content / basic resources
      description: Returns a JSON:API collection document of `block_content--basic` resource objects. Supports JSON:API
        sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously
        readable on 2026-07-25.
      tags:
      - block_content
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/basic/{id}:
    get:
      operationId: getBlockContentBasic
      summary: Get one block_content / basic resource by UUID
      description: Returns a JSON:API individual document for a single `block_content--basic` resource, addressed
        by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - block_content
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/footer_content:
    get:
      operationId: listBlockContentFooterContent
      summary: List block_content / footer_content resources
      description: Returns a JSON:API collection document of `block_content--footer_content` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - block_content
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/footer_content/{id}:
    get:
      operationId: getBlockContentFooterContent
      summary: Get one block_content / footer_content resource by UUID
      description: Returns a JSON:API individual document for a single `block_content--footer_content` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - block_content
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/footer_menus:
    get:
      operationId: listBlockContentFooterMenus
      summary: List block_content / footer_menus resources
      description: Returns a JSON:API collection document of `block_content--footer_menus` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - block_content
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/footer_menus/{id}:
    get:
      operationId: getBlockContentFooterMenus
      summary: Get one block_content / footer_menus resource by UUID
      description: Returns a JSON:API individual document for a single `block_content--footer_menus` resource, addressed
        by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - block_content
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/in_page_navigation:
    get:
      operationId: listBlockContentInPageNavigation
      summary: List block_content / in_page_navigation resources
      description: Returns a JSON:API collection document of `block_content--in_page_navigation` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - block_content
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/in_page_navigation/{id}:
    get:
      operationId: getBlockContentInPageNavigation
      summary: Get one block_content / in_page_navigation resource by UUID
      description: Returns a JSON:API individual document for a single `block_content--in_page_navigation` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - block_content
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/mega_menu_image_title_and_descri:
    get:
      operationId: listBlockContentMegaMenuImageTitleAndDescri
      summary: List block_content / mega_menu_image_title_and_descri resources
      description: Returns a JSON:API collection document of `block_content--mega_menu_image_title_and_descri` resource
        objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - block_content
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/mega_menu_image_title_and_descri/{id}:
    get:
      operationId: getBlockContentMegaMenuImageTitleAndDescri
      summary: Get one block_content / mega_menu_image_title_and_descri resource by UUID
      description: Returns a JSON:API individual document for a single `block_content--mega_menu_image_title_and_descri`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - block_content
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/mega_menu_label_with_quicklinks:
    get:
      operationId: listBlockContentMegaMenuLabelWithQuicklinks
      summary: List block_content / mega_menu_label_with_quicklinks resources
      description: Returns a JSON:API collection document of `block_content--mega_menu_label_with_quicklinks` resource
        objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - block_content
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/mega_menu_label_with_quicklinks/{id}:
    get:
      operationId: getBlockContentMegaMenuLabelWithQuicklinks
      summary: Get one block_content / mega_menu_label_with_quicklinks resource by UUID
      description: Returns a JSON:API individual document for a single `block_content--mega_menu_label_with_quicklinks`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - block_content
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/mega_menu_title_with_description:
    get:
      operationId: listBlockContentMegaMenuTitleWithDescription
      summary: List block_content / mega_menu_title_with_description resources
      description: Returns a JSON:API collection document of `block_content--mega_menu_title_with_description` resource
        objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - block_content
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/mega_menu_title_with_description/{id}:
    get:
      operationId: getBlockContentMegaMenuTitleWithDescription
      summary: Get one block_content / mega_menu_title_with_description resource by UUID
      description: Returns a JSON:API individual document for a single `block_content--mega_menu_title_with_description`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - block_content
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/mega_menu_title_with_link_list:
    get:
      operationId: listBlockContentMegaMenuTitleWithLinkList
      summary: List block_content / mega_menu_title_with_link_list resources
      description: Returns a JSON:API collection document of `block_content--mega_menu_title_with_link_list` resource
        objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - block_content
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/mega_menu_title_with_link_list/{id}:
    get:
      operationId: getBlockContentMegaMenuTitleWithLinkList
      summary: Get one block_content / mega_menu_title_with_link_list resource by UUID
      description: Returns a JSON:API individual document for a single `block_content--mega_menu_title_with_link_list`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - block_content
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/reusable_links_dropdown:
    get:
      operationId: listBlockContentReusableLinksDropdown
      summary: List block_content / reusable_links_dropdown resources
      description: Returns a JSON:API collection document of `block_content--reusable_links_dropdown` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - block_content
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/reusable_links_dropdown/{id}:
    get:
      operationId: getBlockContentReusableLinksDropdown
      summary: Get one block_content / reusable_links_dropdown resource by UUID
      description: Returns a JSON:API individual document for a single `block_content--reusable_links_dropdown`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - block_content
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/section_title_with_secondary_nav:
    get:
      operationId: listBlockContentSectionTitleWithSecondaryNav
      summary: List block_content / section_title_with_secondary_nav resources
      description: Returns a JSON:API collection document of `block_content--section_title_with_secondary_nav` resource
        objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - block_content
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/section_title_with_secondary_nav/{id}:
    get:
      operationId: getBlockContentSectionTitleWithSecondaryNav
      summary: Get one block_content / section_title_with_secondary_nav resource by UUID
      description: Returns a JSON:API individual document for a single `block_content--section_title_with_secondary_nav`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - block_content
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/table_of_contents:
    get:
      operationId: listBlockContentTableOfContents
      summary: List block_content / table_of_contents resources
      description: Returns a JSON:API collection document of `block_content--table_of_contents` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - block_content
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content/table_of_contents/{id}:
    get:
      operationId: getBlockContentTableOfContents
      summary: Get one block_content / table_of_contents resource by UUID
      description: Returns a JSON:API individual document for a single `block_content--table_of_contents` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - block_content
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content_type/block_content_type:
    get:
      operationId: listBlockContentType
      summary: List block_content_type resources
      description: Returns a JSON:API collection document of `block_content_type--block_content_type` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - block_content_type
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /block_content_type/block_content_type/{id}:
    get:
      operationId: getBlockContentType
      summary: Get one block_content_type resource by UUID
      description: Returns a JSON:API individual document for a single `block_content_type--block_content_type`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - block_content_type
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /classy_paragraphs_style/classy_paragraphs_style:
    get:
      operationId: listClassyParagraphsStyle
      summary: List classy_paragraphs_style resources
      description: Returns a JSON:API collection document of `classy_paragraphs_style--classy_paragraphs_style`
        resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and
        offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - classy_paragraphs_style
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /classy_paragraphs_style/classy_paragraphs_style/{id}:
    get:
      operationId: getClassyParagraphsStyle
      summary: Get one classy_paragraphs_style resource by UUID
      description: Returns a JSON:API individual document for a single `classy_paragraphs_style--classy_paragraphs_style`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - classy_paragraphs_style
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /comment/comment:
    get:
      operationId: listComment
      summary: List comment resources
      description: Returns a JSON:API collection document of `comment--comment` resource objects. Supports JSON:API
        sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously
        readable on 2026-07-25.
      tags:
      - comment
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /comment/comment/{id}:
    get:
      operationId: getComment
      summary: Get one comment resource by UUID
      description: Returns a JSON:API individual document for a single `comment--comment` resource, addressed by
        its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - comment
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /comment_type/comment_type:
    get:
      operationId: listCommentType
      summary: List comment_type resources
      description: Returns a JSON:API collection document of `comment_type--comment_type` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - comment_type
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /comment_type/comment_type/{id}:
    get:
      operationId: getCommentType
      summary: Get one comment_type resource by UUID
      description: Returns a JSON:API individual document for a single `comment_type--comment_type` resource, addressed
        by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - comment_type
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /config_pages/sitewide_alert:
    get:
      operationId: listConfigPagesSitewideAlert
      summary: List config_pages / sitewide_alert resources
      description: Returns a JSON:API collection document of `config_pages--sitewide_alert` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - config_pages
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /config_pages/sitewide_alert/{id}:
    get:
      operationId: getConfigPagesSitewideAlert
      summary: Get one config_pages / sitewide_alert resource by UUID
      description: Returns a JSON:API individual document for a single `config_pages--sitewide_alert` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - config_pages
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /config_pages_type/config_pages_type:
    get:
      operationId: listConfigPagesType
      summary: List config_pages_type resources
      description: Returns a JSON:API collection document of `config_pages_type--config_pages_type` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - config_pages_type
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /config_pages_type/config_pages_type/{id}:
    get:
      operationId: getConfigPagesType
      summary: Get one config_pages_type resource by UUID
      description: Returns a JSON:API individual document for a single `config_pages_type--config_pages_type` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - config_pages_type
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /configurable_language/configurable_language:
    get:
      operationId: listConfigurableLanguage
      summary: List configurable_language resources
      description: Returns a JSON:API collection document of `configurable_language--configurable_language` resource
        objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - configurable_language
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /configurable_language/configurable_language/{id}:
    get:
      operationId: getConfigurableLanguage
      summary: Get one configurable_language resource by UUID
      description: Returns a JSON:API individual document for a single `configurable_language--configurable_language`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - configurable_language
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /crop/focal_point:
    get:
      operationId: listCropFocalPoint
      summary: List crop / focal_point resources
      description: Returns a JSON:API collection document of `crop--focal_point` resource objects. Supports JSON:API
        sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously
        readable on 2026-07-25.
      tags:
      - crop
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /crop/focal_point/{id}:
    get:
      operationId: getCropFocalPoint
      summary: Get one crop / focal_point resource by UUID
      description: Returns a JSON:API individual document for a single `crop--focal_point` resource, addressed by
        its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - crop
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /crop_type/crop_type:
    get:
      operationId: listCropType
      summary: List crop_type resources
      description: Returns a JSON:API collection document of `crop_type--crop_type` resource objects. Supports JSON:API
        sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously
        readable on 2026-07-25.
      tags:
      - crop_type
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /crop_type/crop_type/{id}:
    get:
      operationId: getCropType
      summary: Get one crop_type resource by UUID
      description: Returns a JSON:API individual document for a single `crop_type--crop_type` resource, addressed
        by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - crop_type
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /date_format/date_format:
    get:
      operationId: listDateFormat
      summary: List date_format resources
      description: Returns a JSON:API collection document of `date_format--date_format` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - date_format
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /date_format/date_format/{id}:
    get:
      operationId: getDateFormat
      summary: Get one date_format resource by UUID
      description: Returns a JSON:API individual document for a single `date_format--date_format` resource, addressed
        by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - date_format
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /editor/editor:
    get:
      operationId: listEditor
      summary: List editor resources
      description: Returns a JSON:API collection document of `editor--editor` resource objects. Supports JSON:API
        sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously
        readable on 2026-07-25.
      tags:
      - editor
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /editor/editor/{id}:
    get:
      operationId: getEditor
      summary: Get one editor resource by UUID
      description: Returns a JSON:API individual document for a single `editor--editor` resource, addressed by its
        Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - editor
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /embed_button/embed_button:
    get:
      operationId: listEmbedButton
      summary: List embed_button resources
      description: Returns a JSON:API collection document of `embed_button--embed_button` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - embed_button
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /embed_button/embed_button/{id}:
    get:
      operationId: getEmbedButton
      summary: Get one embed_button resource by UUID
      description: Returns a JSON:API individual document for a single `embed_button--embed_button` resource, addressed
        by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - embed_button
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /entity_browser/entity_browser:
    get:
      operationId: listEntityBrowser
      summary: List entity_browser resources
      description: Returns a JSON:API collection document of `entity_browser--entity_browser` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - entity_browser
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /entity_browser/entity_browser/{id}:
    get:
      operationId: getEntityBrowser
      summary: Get one entity_browser resource by UUID
      description: Returns a JSON:API individual document for a single `entity_browser--entity_browser` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - entity_browser
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /entity_extra_field/entity_extra_field:
    get:
      operationId: listEntityExtraField
      summary: List entity_extra_field resources
      description: Returns a JSON:API collection document of `entity_extra_field--entity_extra_field` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - entity_extra_field
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /entity_extra_field/entity_extra_field/{id}:
    get:
      operationId: getEntityExtraField
      summary: Get one entity_extra_field resource by UUID
      description: Returns a JSON:API individual document for a single `entity_extra_field--entity_extra_field`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - entity_extra_field
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /entity_form_display/entity_form_display:
    get:
      operationId: listEntityFormDisplay
      summary: List entity_form_display resources
      description: Returns a JSON:API collection document of `entity_form_display--entity_form_display` resource
        objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - entity_form_display
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /entity_form_display/entity_form_display/{id}:
    get:
      operationId: getEntityFormDisplay
      summary: Get one entity_form_display resource by UUID
      description: Returns a JSON:API individual document for a single `entity_form_display--entity_form_display`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - entity_form_display
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /entity_form_mode/entity_form_mode:
    get:
      operationId: listEntityFormMode
      summary: List entity_form_mode resources
      description: Returns a JSON:API collection document of `entity_form_mode--entity_form_mode` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - entity_form_mode
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /entity_form_mode/entity_form_mode/{id}:
    get:
      operationId: getEntityFormMode
      summary: Get one entity_form_mode resource by UUID
      description: Returns a JSON:API individual document for a single `entity_form_mode--entity_form_mode` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - entity_form_mode
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /entity_view_display/entity_view_display:
    get:
      operationId: listEntityViewDisplay
      summary: List entity_view_display resources
      description: Returns a JSON:API collection document of `entity_view_display--entity_view_display` resource
        objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - entity_view_display
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /entity_view_display/entity_view_display/{id}:
    get:
      operationId: getEntityViewDisplay
      summary: Get one entity_view_display resource by UUID
      description: Returns a JSON:API individual document for a single `entity_view_display--entity_view_display`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - entity_view_display
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /entity_view_mode/entity_view_mode:
    get:
      operationId: listEntityViewMode
      summary: List entity_view_mode resources
      description: Returns a JSON:API collection document of `entity_view_mode--entity_view_mode` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - entity_view_mode
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /entity_view_mode/entity_view_mode/{id}:
    get:
      operationId: getEntityViewMode
      summary: Get one entity_view_mode resource by UUID
      description: Returns a JSON:API individual document for a single `entity_view_mode--entity_view_mode` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - entity_view_mode
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /event_entity/event_entity:
    get:
      operationId: listEventEntity
      summary: List event_entity resources
      description: Returns a JSON:API collection document of `event_entity--event_entity` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - event_entity
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /event_entity/event_entity/{id}:
    get:
      operationId: getEventEntity
      summary: Get one event_entity resource by UUID
      description: Returns a JSON:API individual document for a single `event_entity--event_entity` resource, addressed
        by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - event_entity
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/event_sessions:
    get:
      operationId: listFeedsFeedEventSessions
      summary: List feeds_feed / event_sessions resources
      description: Returns a JSON:API collection document of `feeds_feed--event_sessions` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - feeds_feed
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/event_sessions/{id}:
    get:
      operationId: getFeedsFeedEventSessions
      summary: Get one feeds_feed / event_sessions resource by UUID
      description: Returns a JSON:API individual document for a single `feeds_feed--event_sessions` resource, addressed
        by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - feeds_feed
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/meeting_calendar:
    get:
      operationId: listFeedsFeedMeetingCalendar
      summary: List feeds_feed / meeting_calendar resources
      description: Returns a JSON:API collection document of `feeds_feed--meeting_calendar` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - feeds_feed
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/meeting_calendar/{id}:
    get:
      operationId: getFeedsFeedMeetingCalendar
      summary: Get one feeds_feed / meeting_calendar resource by UUID
      description: Returns a JSON:API individual document for a single `feeds_feed--meeting_calendar` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - feeds_feed
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/state_contact_departments:
    get:
      operationId: listFeedsFeedStateContactDepartments
      summary: List feeds_feed / state_contact_departments resources
      description: Returns a JSON:API collection document of `feeds_feed--state_contact_departments` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - feeds_feed
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/state_contact_departments/{id}:
    get:
      operationId: getFeedsFeedStateContactDepartments
      summary: Get one feeds_feed / state_contact_departments resource by UUID
      description: Returns a JSON:API individual document for a single `feeds_feed--state_contact_departments` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - feeds_feed
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/state_contacts:
    get:
      operationId: listFeedsFeedStateContacts
      summary: List feeds_feed / state_contacts resources
      description: Returns a JSON:API collection document of `feeds_feed--state_contacts` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - feeds_feed
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/state_contacts/{id}:
    get:
      operationId: getFeedsFeedStateContacts
      summary: Get one feeds_feed / state_contacts resource by UUID
      description: Returns a JSON:API individual document for a single `feeds_feed--state_contacts` resource, addressed
        by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - feeds_feed
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/state_contacts_all_:
    get:
      operationId: listFeedsFeedStateContactsAll
      summary: List feeds_feed / state_contacts_all_ resources
      description: Returns a JSON:API collection document of `feeds_feed--state_contacts_all_` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - feeds_feed
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/state_contacts_all_/{id}:
    get:
      operationId: getFeedsFeedStateContactsAll
      summary: Get one feeds_feed / state_contacts_all_ resource by UUID
      description: Returns a JSON:API individual document for a single `feeds_feed--state_contacts_all_` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - feeds_feed
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/state_contacts_csv_:
    get:
      operationId: listFeedsFeedStateContactsCsv
      summary: List feeds_feed / state_contacts_csv_ resources
      description: Returns a JSON:API collection document of `feeds_feed--state_contacts_csv_` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - feeds_feed
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/state_contacts_csv_/{id}:
    get:
      operationId: getFeedsFeedStateContactsCsv
      summary: Get one feeds_feed / state_contacts_csv_ resource by UUID
      description: Returns a JSON:API individual document for a single `feeds_feed--state_contacts_csv_` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - feeds_feed
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/state_departments_all_:
    get:
      operationId: listFeedsFeedStateDepartmentsAll
      summary: List feeds_feed / state_departments_all_ resources
      description: Returns a JSON:API collection document of `feeds_feed--state_departments_all_` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - feeds_feed
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/state_departments_all_/{id}:
    get:
      operationId: getFeedsFeedStateDepartmentsAll
      summary: Get one feeds_feed / state_departments_all_ resource by UUID
      description: Returns a JSON:API individual document for a single `feeds_feed--state_departments_all_` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - feeds_feed
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/state_regulators_csv:
    get:
      operationId: listFeedsFeedStateRegulatorsCsv
      summary: List feeds_feed / state_regulators_csv resources
      description: Returns a JSON:API collection document of `feeds_feed--state_regulators_csv` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - feeds_feed
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed/state_regulators_csv/{id}:
    get:
      operationId: getFeedsFeedStateRegulatorsCsv
      summary: Get one feeds_feed / state_regulators_csv resource by UUID
      description: Returns a JSON:API individual document for a single `feeds_feed--state_regulators_csv` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - feeds_feed
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed_type/feeds_feed_type:
    get:
      operationId: listFeedsFeedType
      summary: List feeds_feed_type resources
      description: Returns a JSON:API collection document of `feeds_feed_type--feeds_feed_type` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - feeds_feed_type
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_feed_type/feeds_feed_type/{id}:
    get:
      operationId: getFeedsFeedType
      summary: Get one feeds_feed_type resource by UUID
      description: Returns a JSON:API individual document for a single `feeds_feed_type--feeds_feed_type` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - feeds_feed_type
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_subscription/feeds_subscription:
    get:
      operationId: listFeedsSubscription
      summary: List feeds_subscription resources
      description: Returns a JSON:API collection document of `feeds_subscription--feeds_subscription` resource objects.
        Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - feeds_subscription
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /feeds_subscription/feeds_subscription/{id}:
    get:
      operationId: getFeedsSubscription
      summary: Get one feeds_subscription resource by UUID
      description: Returns a JSON:API individual document for a single `feeds_subscription--feeds_subscription`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - feeds_subscription
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /field_config/field_config:
    get:
      operationId: listFieldConfig
      summary: List field_config resources
      description: Returns a JSON:API collection document of `field_config--field_config` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - field_config
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /field_config/field_config/{id}:
    get:
      operationId: getFieldConfig
      summary: Get one field_config resource by UUID
      description: Returns a JSON:API individual document for a single `field_config--field_config` resource, addressed
        by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - field_config
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /field_storage_config/field_storage_config:
    get:
      operationId: listFieldStorageConfig
      summary: List field_storage_config resources
      description: Returns a JSON:API collection document of `field_storage_config--field_storage_config` resource
        objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination.
        Verified anonymously readable on 2026-07-25.
      tags:
      - field_storage_config
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /field_storage_config/field_storage_config/{id}:
    get:
      operationId: getFieldStorageConfig
      summary: Get one field_storage_config resource by UUID
      description: Returns a JSON:API individual document for a single `field_storage_config--field_storage_config`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - field_storage_config
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /file/file:
    get:
      operationId: listFile
      summary: List file resources
      description: Returns a JSON:API collection document of `file--file` resource objects. Supports JSON:API sparse
        fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified anonymously readable
        on 2026-07-25.
      tags:
      - file
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /file/file/{id}:
    get:
      operationId: getFile
      summary: Get one file resource by UUID
      description: Returns a JSON:API individual document for a single `file--file` resource, addressed by its Drupal
        UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - file
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /filter_format/filter_format:
    get:
      operationId: listFilterFormat
      summary: List filter_format resources
      description: Returns a JSON:API collection document of `filter_format--filter_format` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - filter_format
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /filter_format/filter_format/{id}:
    get:
      operationId: getFilterFormat
      summary: Get one filter_format resource by UUID
      description: Returns a JSON:API individual document for a single `filter_format--filter_format` resource,
        addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - filter_format
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /image_style/image_style:
    get:
      operationId: listImageStyle
      summary: List image_style resources
      description: Returns a JSON:API collection document of `image_style--image_style` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - image_style
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /image_style/image_style/{id}:
    get:
      operationId: getImageStyle
      summary: Get one image_style resource by UUID
      description: Returns a JSON:API individual document for a single `image_style--image_style` resource, addressed
        by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - image_style
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /imce_profile/imce_profile:
    get:
      operationId: listImceProfile
      summary: List imce_profile resources
      description: Returns a JSON:API collection document of `imce_profile--imce_profile` resource objects. Supports
        JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and offset pagination. Verified
        anonymously readable on 2026-07-25.
      tags:
      - imce_profile
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /imce_profile/imce_profile/{id}:
    get:
      operationId: getImceProfile
      summary: Get one imce_profile resource by UUID
      description: Returns a JSON:API individual document for a single `imce_profile--imce_profile` resource, addressed
        by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - imce_profile
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /language_content_settings/language_content_settings:
    get:
      operationId: listLanguageContentSettings
      summary: List language_content_settings resources
      description: Returns a JSON:API collection document of `language_content_settings--language_content_settings`
        resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and
        offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - language_content_settings
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /language_content_settings/language_content_settings/{id}:
    get:
      operationId: getLanguageContentSettings
      summary: Get one language_content_settings resource by UUID
      description: Returns a JSON:API individual document for a single `language_content_settings--language_content_settings`
        resource, addressed by its Drupal UUID. Supports sparse fieldsets and related-resource inclusion.
      tags:
      - language_content_settings
      parameters:
      - $ref: '#/components/parameters/resourceId'
      - $ref: '#/components/parameters/include'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/resourceVersion'
      responses:
        '200':
          description: A JSON:API individual document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/IndividualDocument'
        '404':
          $ref: '#/components/responses/NotFound'
  /layout_builder_browser_block/layout_builder_browser_block:
    get:
      operationId: listLayoutBuilderBrowserBlock
      summary: List layout_builder_browser_block resources
      description: Returns a JSON:API collection document of `layout_builder_browser_block--layout_builder_browser_block`
        resource objects. Supports JSON:API sparse fieldsets, sorting, filtering, related-resource inclusion and
        offset pagination. Verified anonymously readable on 2026-07-25.
      tags:
      - layout_builder_browser_block
      parameters: *id001
      responses:
        '200':
          description: A JSON:API collection document.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CollectionDocument'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /layout_builder_browser_block/layout_builder_browser_block/{id}:
    get:
      operationId: getLayoutBuilderBrowserBlock
[...]
